header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile-pic {
    padding-top: 75px;
    padding-right: 50px;
}

h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100px;
}

main {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact {
    display: flex;
    flex-direction: column;
}

.links {
    display: flex;
    flex-direction: column;
}

.social {
    display: flex;
    flex-direction: column;    
}

.records {
    display: flex;
    flex-direction: column;    
}

a {
    color: black;
    text-decoration: none;
}

#jason-calacanis {
    border-radius: 50%;
}