body {
  font-family: "Oswald", sans-serif;
  max-width: 960px;
  margin: auto;
  }

header {
  height: 60px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.personal-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
  padding: 20px;
  max-width: 1000px;
}

.personal {
  margin-left: 20px;
  margin-right: 20px;
}

main {
  height: auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-pic {
  margin-top: 20px;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  margin-left: 5px;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color:rgb(255, 0, 0);
  margin: 5% auto;
  letter-spacing: 10px;
}

h4 {
  letter-spacing: 5px;
}

.portfolio-button {
  margin: 3% auto;
  width: 240px;
  height: 60px;
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  border-radius: 5px;
  border-color: white;
  background-color: white;
  border-style: solid;
  padding: 5px;
  text-align: center;
  color: rgb(0, 195, 255);
  letter-spacing: 4px;
  font-style: normal;
  outline: none;
}

footer {
  height: 60px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.business-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.business {
  margin: 10px;
}

#link-img {
   width: 40px;
   height: auto;
}

.small-text {
  color: rgb(0, 195, 255);
  font-size: 10px;
  text-align: center;
}

a:link {
  color: rgb(255, 0, 0);
  font: Oswald;
  text-decoration: none;
}

a:visited {
  color: rgb(255, 0, 0);
  font: Oswald;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 195, 255);
  text-decoration: none;
}

a:active {
  color: rgb(0, 195, 255);
  font: Oswald;
  text-decoration: none;
}