body {
  font-family: "Oswald", sans-serif;
  }

  header {
    height: 60px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer {
    height: 60px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

 .business {
   margin: 10px;
 }

 .personal {
   margin-left: 20px;
   margin-right: 20px;
 }

 #link-img {
   width: 40px;
   height: auto;
 }

  .business-links {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .personal-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
    max-width: 1000px;
  }

  a:link {
    color: rgb(255, 0, 0);
    font: Oswald;
    text-decoration: none;
  }

  a:visited {
    color: rgb(255, 0, 0);
    font: Oswald;
    text-decoration: none;
  }

  a:hover {
    color: rgb(0, 195, 255);
    text-decoration: none;
  }

  a:active {
    color: rgb(0, 195, 255);
    font: Oswald;
    text-decoration: none;
  }

  main {
    height: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section {
    display: flex;
    flex-direction: row;
  }

  /* This is an ID selector */
  #profile-pic {
    margin-top: 20px;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin-left: 5px;
  }

  h1 {
    color:rgb(255, 0, 0);
    margin: 5% auto;
    letter-spacing: 10px;
  }

  h4 {
    margin: auto;
    letter-spacing: 6px;
  }

  .small-text {
    color: rgb(0, 195, 255);
    font-size: 10px;
    text-align: center;
  }

  .portfolio-button {
    margin: 3% auto;
    width: 240px;
    height: 60px;
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    border-radius: 5px;
    border-color: white;
    background-color: white;
    border-style: solid;
    padding: 5px;
    text-align: center;
    color: rgb(0, 195, 255);
    letter-spacing: 4px;
    font-style: normal;
    outline: none;
  }