body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('NASA\ page\ eclipse\ photo.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 850px 450px;
 }
 h1{
     color: white;
     display: grid;
     font-size: 100px;
 }
 .header{
     padding: 90px;
     text-align: center;
 }
 
 #eclipse{
     style: "background-image: url('NASA\ page\ eclipse\ photo.jpg')";
 }
 
 section{
     padding: 90px;
     display: flex;
     justify-content: space-evenly;
 }
 
 .contact-us{
     display: flex;
     flex-direction: column;
 }
 
 .send-button{
     margin: 10px;
 }